@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


:root {
    --emas: #D0B003;
    --hijau-tua: #0E2630;
    --hijau-hitam: #091a22;
    --putih: #ffffff;
    --putih-beda: #f2f2f2;
    --hitam: #131211;
    --btn: #173652;
    --btn-hover: #0a2034;
    --font-judul: 'Berkshire Swash', serif;
    --font-paragraph: 'EB Garamond', serif;
    --font-button: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--emas);
}

::-webkit-scrollbar-thumb {
    background-color: var(--hijau-tua);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hijau-hitam);
}


body {
    height: 2000px;
    overflow-x: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--hijau-tua);
    border-bottom: var(--emas) 5px solid;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    z-index: 999;
}

nav .logo img {
    margin-left: -50px;
    width: 50%;
}

nav ul li {
    margin: 0 5px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li a {
    color: var(--putih-beda);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 50px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: var(--emas);
    color: var(--hijau-tua);
}

nav .menu-btn i {
    color: var(--putih);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}











/* Beranda */

.container-beranda {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-image: url(/assets/masjid.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -99;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: linear-gradient(180deg, rgb(19, 18, 17, 0.45) 0%, rgb(19, 18, 17, 0.90) 100%);
    z-index: 1;
}

.container-beranda .beranda {
    top: 500px;
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 800px;
    padding: 5px;
    margin: auto;
    color: var(--putih);
}

.beranda h1 {
    font-size: 45px;
    font-family: var(--font-judul);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.beranda p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: var(--font-paragraph);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.beranda a {
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    color: var(--putih);
    background-color: var(--btn);
    padding: 10px 20px;
    border-radius: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.beranda a:hover {
    background-color: var(--btn-hover);
}

















/* Tentang */

.tentang {
    background: #131211;
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
    }

.tentang-side {
    position: relative;
    width: 44%;
    height: 100%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    }

.atas-1 {
    width: 500px;
    height: 203px;
    }

.judul {
    color: #ffffff;
    font-family: var(--font-judul);
    font-size: 45px;
    font-weight: 400;
    width: 523px;
    }

.penjelasan-tentang {
    color: #ffffff;
    text-align: left;
    font-family: var(--font-paragraph);
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}

.rectanglebutton {
    background: #e4a951;
    border-radius: 30px;
    width: 273px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 400;
}

.media {
    width: 40%;
    display: flex;
    gap: 4%;
    margin-top: 3rem;
}

.rectangle {
    background-color: #e4a951;
    width: 100%;
    display: grid;
    place-items: center;
    padding: .4rem;
    border-radius: .6rem;
}

.masjid-transparant {
    background-color: white;
    background-image: url(/assets/masjid-transparant.png);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50% 0 0 5%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 2.5%;
}

.masjid-transparant .overlay {
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(19, 18, 17, 0) 25%, rgb(19, 18, 17, 1) 100%), linear-gradient(180deg, rgba(19, 18, 17, 0) 25%, rgb(19, 18, 17, 1 )100%);
}

























/* layanan */

.container {
    width: 100%;
    height: auto;
    padding: 40px 40px 40px 40px;
    margin: auto;
    background-color: #131211;
    border-bottom: 6px #D0B003 solid;
}

.header {
    width: 20%;
    text-align: center;
}

.header h2 {
    color: #fff;
    font-size: 45px;
    font-family: var(--font-judul);
}

.header img {
    width: 100%;
}

.container-card {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    flex: 1;
    margin: 10px;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    color: #121212;
    font-size: 16px;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card img {
    width: 20%;
}

.card .isi h3 {
    font-size: 20px;
    color: #D0B003;
}

.card .isi .deskripsi {
    color: #787878;
    margin-bottom: 15px;
}

.card .isi p {
    color: #858585;
}

.card .isi i {
    margin-right: 10px;
}

.card .titik-tiga {
    position: absolute;
    top: 0px;
    right: 0;
    margin-top: -20px;
    margin-right: 10px;
    color: #131211;
    font-size: 40px;
}



/* Waktu Sholat */
.waktusholat {
    width: 100%;
    padding: 40px;
    color: #121212;
}

.waktusholat .judul-waktu {
    text-align: center;
    margin-bottom: 20px;
}

.waktu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 75%;
    margin: 0 auto;
}

.card-waktu {
    width: 100%;
    margin: 10px;
    background-color: #f0f0f0;
    border: 2px solid #D0B003;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.card-waktu h4 {
    line-height: 30px;
    border-bottom: 3px #131211 solid;
    border-radius: 3px;
    margin-bottom: 10px;
}






/* kegiatan */



























/* Responsive */



@media (max-width: 1100px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: var(--hijau-hitam);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: var(--emas);
    }

    /* Tentang */
    .atas-1 {
        width: 100%;
        height: 15%;
    }

    .judul {
        width: 100%;
        font-size: 35px;
    }

    .tentang-side {
        width: 45%;
        justify-content: space-between;
    }

    .masjid-transparant {
        width: 48%;
        background-position-x: -15rem;
    }

    .penjelasan-tentang {
        font-size: 19px;
    }

    .media {
        margin: 0;
        gap: 9%;
    }

    .rectangle svg {
        width: 45px;
        height: 45px;
    }


    /* Layanan */
    .header {
        width: 40%;
    }

    .header h2 {
        font-size: 35px;
    }

    .container .container-card {
        overflow-y: scroll;
    }

    .container .container-card::-webkit-scrollbar {
        width: 4px;
    }

    .column {
        flex: 1 100%;
        max-width: 100%;
        margin-bottom: -10px;
    }

    .card img {
        width: 20%;
    }

    .waktusholat .waktu {
        width: auto;
        gap: .2rem;
    }
}



@media (max-width: 768px) and (min-width: 300px) {
    .container-beranda .beranda {
        top: 350px;
    }
    
    nav {
        padding: 0 6% 0 20%
    }
    
    nav {
        padding: 0 6% 0 19%
    }

    /* Tentang */
    .judul {
        text-align: center;
    }
    .tentang-side {
        width: 95%;
        z-index: 2;
        justify-content: space-evenly;
        align-items: center;
    }

    .masjid-transparant {
        background-color: transparent;
        width: 90%;
        background-position-x: center ;
    }
    
    .masjid-transparant .overlay {
        background: radial-gradient(rgba(19, 18, 17, .5) 25%, rgb(19, 18, 17, 1) 100%), 
        linear-gradient(180deg, rgba(19, 18, 17, .5) 25%, rgb(19, 18, 17, 1 )100%);
    }

    .penjelasan-tentang {
        text-align: center;
    }

    .media {
        margin-top: 1rem;
        gap: 4%;
        justify-content: center;
        align-items: center;
    }

    .rectangle svg {
        height: 40px;
        width: 40px;
    }


    /* Layanan */
    .header {
        width: 100%;
    }

    .container{
        padding: 2rem ;
    }

    .card {
        padding: 10px;
        padding-left: 15px;
    }
    
    .card img {
        display: none;
    }
    
    .card .isi {
        margin-top: 5px;
    }


    /* Waktu Sholat */
    .waktusholat {
        padding: 20px 10px;
    }

    .waktusholat .judul-waktu {
        margin-bottom: 10px;
    }

    .waktusholat .waktu {
        font-size: 15px;
        flex-wrap: wrap;
    }

    .card-waktu {
        padding: 10px;
        margin: 1px;
        width: 100px;
    }

}

/* @media (max-width: 971px) {
    .container .container-card {
        overflow-y: scroll;
    }

    .column {
        flex: 1 100%;
        max-width: 100%;
        margin-bottom: -10px;
    }

    .card img {
        width: 20%;
    }

    .waktusholat .waktu {
        overflow-x: scroll;
    }
} */

/* @media (max-width: 500px) {
    .container-beranda .beranda {
        top: 350px;
    }
    
    nav {
        padding: 0 6% 0 20%
    }
    .header img {
        width: 200px;
        margin-left: 15px;
    }
    
    nav {
        padding: 0 6% 0 19%
    }
} */










